.active-menu-item {
  background-color: #1890ff;
  color: #fff;
  border-radius: 0px !important;
}

.ant-menu-item:hover {
  background: #1890ff !important;
  border-radius: 0px !important;
}

.ant-menu-item {
  padding-left: 20px !important;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
