.signin-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .signin-input {
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  .signin-button {
    border-radius: 20px;
    padding: 10px 20px;
  }
  